.decoupled-tabs-trigger {
    width: 100%;
    height: 100%;
    cursor: pointer;
    transition: all 0.2s ease;
    position: relative;
    z-index: 1;
}

.decoupled-tabs-trigger:focus {
    outline: none;
}

.decoupled-tabs-trigger.is-active {
    z-index: 10;
}